# -----------------------------
# Virtual environment
# -----------------------------
.venv/
env/
venv/

# -----------------------------
# Python cache
# -----------------------------
__pycache__/
*.pyc

# -----------------------------
# Jupyter notebooks
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# OS files (Mac)
# -----------------------------
.DS_Store

# -----------------------------
# Data (do NOT upload datasets)
# -----------------------------
data/raw/
data/processed/

# -----------------------------
# Results (large outputs)
# -----------------------------
results/checkpoints/
#results/logs/
#results/figures/

# -----------------------------
# Model files
# -----------------------------
*.pt
*.pth

# -----------------------------
# VS Code (optional)
# -----------------------------
.vscode/

# -----------------------------
# Environment variables
# -----------------------------
.env